@keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotateX(-100deg);
    }
    to {
        opacity: 1;
        transform: rotateX(0);
    }
}

body {
    background: rgb(3, 0, 46);
}

header {
    background-image: url(../Polygond/img/p.jpeg.png);
    background-repeat: no-repeat;
    background-position: center;
    padding: 120px;
    padding-top: 0px;
    display: flex;   
}

.header {
    height: 140px;
    padding: 16px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 2em;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-family: 'calibri'; 
}

.header .links {
    margin-left: auto;
    justify-content: space-between;
    text-decoration: space-between;
}

.website .link {
    text-decoration-color: #E5E7EB;
    border: 2px solid #001230;
    border-radius: 90em;
    padding: 10px;
    padding-left: 20px;
    background-color:  #092046;
    text-decoration: #E5E7EB;
    margin-right: 670px;
}

.links a {
    color: antiquewhite;
    text-decoration: #E5E7EB;
    margin: 10px;
}

a:hover {
    color: #006aff;
}

.link a {
    color: antiquewhite;
    text-decoration: #E5E7EB;
}

.placeholder img {
    border-image: stretch;
    width: 150px;
    height: 150px;
    
}

.header .website {
    padding-bottom: 30px;
    padding-right: 30px;
    color: #F9FAF8;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.information {
    height: 140px;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info h1 {
    text-align: center;
    color: #000000;
}

.items {
    width: 80px;
    height: 80px;
    border: 4px solid #000000;
    background: white;
    margin: 60px;
    border-radius: 99em;
    animation: transitionIn 0.5s;
}

section  {
    padding : 50px;
}

.quote {
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
}

.right {
    background-image: url(../Polygond/img/p.jpeg.png);
    background-repeat: no-repeat;
    padding: 50px;
    color: rgba(255, 255, 255, 0.541);
    text-align: center;
}

footer {
    padding:100px;  
}

.action {
   display: flex;
   background: #001435;
}

.one {
    margin-left: 100px;
    color: #E5E7EB;
    font-family: 'calibri';
    align-items: flex-start;  
}

.two {
    width: 50px;
    height: 30px;
    margin-left: auto;
    margin-right: 150px;
    margin-top: 40px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 50em;
    padding: 10px 10px 5px 10px;
    background: #000000;
    text-decoration: rgb(255, 255, 255);
    align-content: flex-end;
}

.two a {
    color: rgb(255, 255, 255);
    text-decoration: #000205;
}

.footer {
    Padding: 50px;
    background-color: #000000;
    text-align: center;
}

.footer a{
    color: antiquewhite;
    text-decoration: #E5E7EB;
}
 a:hover {
    color: #006aff;
}